{% for block in element[field.handle].collect() %}
    <div>
        <span ondblclick="Craft.createElementEditor('craft\\elements\\Entry', {siteId: {{ block.siteId }},elementId: {{ block.id }},draftId: null,params: {fresh: 1}})">
            {% if block.type.icon %}
                {{ tag('span', {
                    class: [
                        'cp-icon'
                    ]|filter,
                    html: iconSvg(block.type.icon),
                }) }}
            {% else %}
                {{ block.type.name }}
            {% endif %}

            {{ block.title }}
        </span>

        {% for nestedField in block.getFieldLayout().getCustomFields() %}
            {% if className(nestedField) == 'markhuot\\keystone\\fields\\Keystone' %}
                {#{% if nestedField.hasMultipleSlots %}#}
                {% if false %}
                    <p>{{ nestedField.name }}</p>
                {% endif %}
                <div style="margin-left: 2rem;">
                    {% include 'keystone/field' with {element: block, field: nestedField} only %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endfor %}

{% if root ?? false %}
<button onclick="addComponent">Add</button>
{% endif %}
